.auth {
  background-color: #50BAA3;
  .list {
    margin-top: 50%;
  }
  .button {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.auth-signup-modal {
  .button {
    text-transform: uppercase;
    font-weight: 700;
  }
}