<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">Cadastre-se</h1>
    <button class="button button-clear button-primary" ng-click="modalSignup.hide()">Fechar</button>
  </ion-header-bar>
  <ion-content class="auth-signup-modal">
    <form ng-submit="signUp()" novalidate>
      <div class="list padding">
        <label class="item item-input">
          <span class="input-label">Nome</span>
          <input type="text" ng-model="user.name">
        </label>
        <label class="item item-input">
          <span class="input-label">E-mail</span>
          <input type="text" ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Senha</span>
          <input type="password" ng-model="user.password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-calm button-block">Foto</button>
        <button class="button button-calm button-block">Cadastre-se</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>